$color-primary: #092665;
$color-secondary: #d4c365;
$color-accent: #ffc107;
$color-light-bg: rgba(255, 248, 230, 0.85);
$color-text-dark: #333;

$font-primary: 'EB Garamond', serif;
$color-primary: #092665;
$font-secondary: 'IM Fell English SC', serif;
